# Install torch with CUDA support manually: 
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio
transformers==4.44.2
rdkit
pandas
scikit-learn
tensorboard
pyyaml
opentsne
fairscale
regex
openpyxl
streamlit
matplotlib
seaborn
